body {
    font-family: 'Montserrat';
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

#title .container-fluid {
    padding: 3% 7% 15%;
    text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.feature-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

/* Download Button */
.btn-download {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

#features {
    position: relative;
    z-index: index 1;
}

.icon {
    color: #ef8172;
    padding-bottom: 5%;
}

.icon:hover {
    color: #ff4c88;
}



.feature-box {
    padding: 0 4%;
}

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing-paragraph {
    margin-bottom: 3%;
}

@media (max-width: 992px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }

}

.social-icon {
    margin: 20px 10px;
}